body{
background-color: rgb(255, 222, 239);
}
.container{
height: 90%;
width:25%;
border:2px solid black;
align-items: center;
padding:5px;
margin:10px;
margin-top: 20px;
background-color: rgba(138, 192, 223, 0.511);
 border-radius: 5px;
 box-shadow: 0 6px 15px black;
}
.screen{
    height: 150px;
    width:330px;
    background-color: white;
     border-radius: 5px;
}
button{
    height:50px;
    width:70px;
    margin-top:30px;
    margin-left: 5px;
    margin-right: 5px;
    float:center;
    background-color: white;
    border-radius: 5px;
    font-size: larger;
    color: rgb(104, 97, 97);

}
button:hover{
    transform: scale(1.07);
    /* background-color: rgb(104, 43, 244); */
}
input{
    font-size: xx-large;
    text-align:right ;
    
}