* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
}

/* NAVBAR */
.navbar {
  background: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 12px 30px;
}

.logo span {
  color: red;
}

.nav-left {
  display: flex;
  gap: 15px;
  align-items: center;
}

.nav-left input {
  width: 300px;
  padding: 6px;
  border-radius: 4px;
  border: none;
}

.signin {
  background: red;
  color: white;
  border: none;
  padding: 6px 15px;
  border-radius: 4px;
}

/* MENU */
.menu {
  background: white;
  padding: 10px 30px;
}

.menu a {
  margin-right: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* BANNER */
.banner img {
  width: 100%;
  margin: 20px 0;
}

.banner-row {
  padding: 20px 30px;
}

.banner-track {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.banner-track img {
  min-width: 80%;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.3s;
}

.banner-track img:hover {
  transform: scale(1.03);
}



/* MOVIES */
.movies {
  padding: 20px 30px;
}

.movie-row {
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.movie-card {
  background: white;
  width: 180px;
  border-radius: 8px;
  padding: 10px;
  transition: transform 0.3s;
}

.movie-card img {
  width: 100%;
  border-radius: 8px;
}

.movie-card:hover {
  transform: scale(1.05);
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
  margin-top: 40px;
}
