body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f5f5;
    color: #222;
}

/* HOME PAGE */
.page-title {
    margin: 20px;
}

.show-container {
    display: flex;
    padding: 20px;
}

.show-card {
    width: 260px;
    text-decoration: none;
    color: inherit;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.show-card:hover {
    transform: scale(1.05);
}

.show-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.show-info {
    padding: 10px;
}

/* DETAILS PAGE */
.details-container {
    max-width: 900px;
    margin: auto;
    background: #fff;
}

.details-banner {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.details-content {
    padding: 20px;
}

.tags {
    color: #666;
}

.description {
    margin: 15px 0;
}

.details-box p {
    margin: 5px 0;
}

.book-btn {
    margin-top: 20px;
    padding: 12px 25px;
    background: #e41d36;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
