body{

}

div{
    height: 500px;
    width: 400px;
    border:2px solid black;
    margin:50px;
    border-radius: 5px;
}
button{
    height:50px;
    width:350px;
    margin:15px;
    background-color: white;
    border-radius: 5px;
    border-color: grey;
}
input{
    border-bottom: 1px solid grey;
    border-top: none;
    border-right: none;
    border-left: none;
}
img{
    height:20px;
    width:20px;
    float: left;
    margin-left: 8px;
}
button:hover{
    background-color: rgb(242, 234, 234);
}
p{
    color: grey;
}
